{% extends 'base.html' %}
{% block content %}
<h1>Nodnodshop</h1>



{% if not form_entries %}
<p>There are no form data in nodnodshop feedback.</p>
{% else %}
<table>
  <tr>
    <th>data 1</th>
    <th>user experience</th>
    <th>apples were good</th>
  </tr>

  {% comment %} This is how to display form data
  {% endcomment %} 
  {% for form_entry in form_entries %}
  <tr>
    <td>{{form_entry.data1}}</td>
    <td>{{form_entry.data2}}</td>
    <td>{{form_entry.data3}}</td>
    <td>
      <a href="{% url 'main:edit_product' form_entry.pk %}">
          <button>
              Edit
          </button>
      </a>
  </td>
  <td>
    <a href="{% url 'main:delete_product' form_entry.pk %}">
        <button>
            Delete
        </button>
    </a>
  </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_form_entry' %}">
  <button>Add New Form entry </button>
</a>
<span>Last login : {{last_login}}</span>
<button><a href="{% url 'main:logout' %}" class="btn btn-primary">Logout</a></button>

{% include 'footer.html' %}

{% endblock content %}